---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";
import "../styles/global.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Astroship"
  : "Astroship - Starter Template for Astro with Tailwind CSS";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Astroship is a starter website template for Astro built with TailwindCSS."
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Astroship - Starter Template for Astro`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Astroship Homepage Screenshot",
        },
      }}
    />



<!-- NORMAL Google Tag Manager -->
<script type="text/javascript" data-refresh="true">
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KBT5FVQL');
</script>
<!-- End Google Tag Manager -->
<script async type="text/javascript" src="https://us-central1-speedbooster-72cd7.cloudfunctions.net/speedboostersystemeio-1"></script>



<script>
  window.addEventListener('load', function() {
    // Tworzenie elementu script do dynamicznego ładowania skryptu cookieinfo mniej obciaza glowny watek i ladowanie na stronie
    var script = document.createElement('script');
    script.src = '//cookieinfoscript.com/js/cookieinfo.min.js';
    script.type = 'text/javascript';
    //script.type = 'text/partytown';
    script.async = true;  // Zastosowanie asynchronicznego ładowania
    script.setAttribute('data-font-size', '10px');
    script.setAttribute('data-divlinkbg', '#01a0ff');
    script.setAttribute('data-divlink', '#FFFFFF');
    script.setAttribute('data-message', 'Na naszej stronie internetowej używamy plików cookies, aby dostarczać Ci najlepsze doświadczenia. Korzystając z naszej witryny, bez zmiany ustawień prywatności przeglądarki, wyrażasz zgodę na przetwarzanie Twoich danych osobowych, takich jak adres IP czy identyfikatory plików cookies, w celach marketingowych, w tym wyświetlania reklam dostosowanych do Twoich zainteresowań i preferencji, oraz w celach analitycznych i statystycznych przez Dominik Śliwiński ul. Małachowskiego 8/31, 61-129 Poznań (Administrator danych). Zgadzasz się również na zapisywanie i przechowywanie plików cookies na Twoim urządzeniu. Pamiętaj, że zawsze masz możliwość zmiany ustawień dotyczących plików cookies w swojej przeglądarce. Dowiedz się więcej w ');
    script.setAttribute('data-linkmsg', 'Polityka Prywatności');
    script.setAttribute('data-cookie', 'CookieInfoScript');
    script.setAttribute('data-text-align', 'left');
    script.setAttribute('data-moreinfo', '/polityka-prywatnosci');
    script.setAttribute('data-close-text', 'Akceptuje');
    
    // Dodanie skryptu do head
    document.head.appendChild(script);
    //inform partytime
    //window.dispatchEvent(new CustomEvent('ptupdate'));
  });
</script>


  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
